<!DOCTYPE html>
<html>

  <head>
    <title>CYUT_註冊</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/bootstrap.min.css">
    <style>
      #home h1 button{
        font-size: 50px;
        font-weight: bold;
      }
      H2 {
        font-size: 25px;
        font-weight: bold;
        text-align :center;  
      }
      H3{
        height:30px;
      }
      h4{
        height: 30px;
      }
      body {
            background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/2019CYUT_seal.jpg/1200px-2019CYUT_seal.jpg');
            background-repeat: no-repeat;
            background-position: left+top;           
            background-size: 10%;           
      }
      </style>
  </head>
  
<body>
  <h4></h4>
  <div id="home" align=center>
    <h1><button type="button" class="btn btn-default"onclick="location.href='/'">直播平台</button></h1>
  </div>
  <% if(errors){ %>
    <% errors.forEach(function(error){ %>
    <div class="error"><%= error.msg %></div>
    <% }) %>
  <% } %>
  <h3> </h3>
  <form method="post" action="/users/signup">
    <div class="card border-dark mx-auto" style="max-width: 18rem;">
      <div class="card-header bg-transparent border-dark">
      <h2>註冊</h2>
    </div>
      <div class="card-title" align="center">
        <label>Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="card-title" align="center">
        <label>Password :</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div></br>
      <div align="center" class="card-footer bg-transparent border-dark">
        <button type="submit"class="btn btn-primary">註冊</button>
        
      </div>
    </div>
  </form>
</body>

</html>
